@model IEnumerable<HttpRequests.Models.MovieHouse>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h3>Basic of WEB development</h3>


</div>
<div class="row">
    <div class="col-md-6">

        <div class="alert alert-success">
          Request:<strong> @ViewBag.Type</strong> Response: @ViewBag.Response @ViewBag.Additional
        </div>

        <h4>
            Choose type of request. All types can insert values in table.
        </h4>
        
         
        <label class="radio-inline"><input type="radio" name="optradio" value="POST" checked="checked">POST</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="GET">GET</label>
        
                

        <h4>
            Enter your data:
        </h4>
               

        <form id="form" action="/Home/Index" method="post">

            <div class="form-group">                
                <input required="required" type="text" name="name" placeholder="Enter name..." class="form-control" id="name">
            </div>

            <div class="form-group">               
                <input required="required" type="text" name="telephone" placeholder="Enter telephone number..." class="form-control" id="surname">
            </div>

            <div class="form-group">
                <input required="required" type="text" name="adress" placeholder="Enter adress..." class="form-control" id="adress">
            </div>

            <button type="submit" id="SendRequest" class="btn btn-success">Send</button>

        </form>
        <input class="delete" type="submit" value="Delete" id="1" />
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieHouseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieHouseTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieHouseAdress)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieHouseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieHouseTelephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieHouseAdress)
                    </td>
                    <td>
                        <input class="delete" type="submit" value="Delete" id="@item.MovieHouseId" /> 
                        @*@Html.ActionLink("Put", "Edit", new { id = item.MovieHouseId }) |
                        
                        @Html.ActionLink("Delete", "Delete", new { id = item.MovieHouseId })*@
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@