@model IEnumerable<HttpRequests.Models.RequestInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestInformationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestInformationIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestInformationUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestInformationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestInformationIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestInformationUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestInformationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequestInformationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestInformationId })
        </td>
    </tr>
}

</table>
